In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
education = pd.read_csv('StackOverflowDeveloperSurvey2018.csv', usecols=['FormalEducation'])
education.head()

                                     FormalEducation
0           Bachelor’s degree (BA, BS, B.Eng., etc.)
1           Bachelor’s degree (BA, BS, B.Eng., etc.)
2                                   Associate degree
3           Bachelor’s degree (BA, BS, B.Eng., etc.)
4  Some college/university study without earning ...

In [3]:
education = education.squeeze()
education.head()

0             Bachelor’s degree (BA, BS, B.Eng., etc.)
1             Bachelor’s degree (BA, BS, B.Eng., etc.)
2                                     Associate degree
3             Bachelor’s degree (BA, BS, B.Eng., etc.)
4    Some college/university study without earning ...
Name: FormalEducation, dtype: object

In [4]:
type(education)

pandas.core.series.Series

In [5]:
education.tail(10)

98845             Bachelor’s degree (BA, BS, B.Eng., etc.)
98846             Bachelor’s degree (BA, BS, B.Eng., etc.)
98847                                                  NaN
98848             Bachelor’s degree (BA, BS, B.Eng., etc.)
98849             Bachelor’s degree (BA, BS, B.Eng., etc.)
98850                                                  NaN
98851                                                  NaN
98852             Bachelor’s degree (BA, BS, B.Eng., etc.)
98853    Some college/university study without earning ...
98854                                                  NaN
Name: FormalEducation, dtype: object

In [6]:
allinfo = pd.read_csv('StackOverflowDeveloperSurvey2018.csv')
country = allinfo['Country']
country.head()

<ipython-input-6-a88e53c4345f>:1: DtypeWarning: Columns (8,12,13,14,15,16,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128) have mixed types. Specify dtype option on import or set low_memory=False.
  allinfo = pd.read_csv('StackOverflowDeveloperSurvey2018.csv')

0             Kenya
1    United Kingdom
2     United States
3     United States
4      South Africa
Name: Country, dtype: object

In [7]:
filterOnlyUSA = country == 'United States'
filterOnlyUSA.head()

0    False
1    False
2     True
3     True
4    False
Name: Country, dtype: bool

In [8]:
education.where(filterOnlyUSA).dropna().head(10)

2                                      Associate degree
3              Bachelor’s degree (BA, BS, B.Eng., etc.)
6     Some college/university study without earning ...
8     Some college/university study without earning ...
16             Bachelor’s degree (BA, BS, B.Eng., etc.)
21             Bachelor’s degree (BA, BS, B.Eng., etc.)
23    Some college/university study without earning ...
27             Bachelor’s degree (BA, BS, B.Eng., etc.)
28             Bachelor’s degree (BA, BS, B.Eng., etc.)
32             Bachelor’s degree (BA, BS, B.Eng., etc.)
Name: FormalEducation, dtype: object